@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;

}

nav {
    padding-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 100px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

nav a:hover {
    color: darkorchid;
}

main {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 0px 0 50px;
}


#hero {
    display: flex;
    
}
#hero > div:first-child {
    margin-top: 40px;
}

#hero > div:first-child h1 {
    margin: 10px 0 20px 0;
    font-size: 46px;
}

#hero > div:first-child p {
    font-size: 19px;
    line-height: 28px;
    padding-bottom: 25px;

}

#hero div button {
    background-color: darkorchid;
    display: flex;
    align-items: center;
    border: none;
    padding: 20px 10px 20px 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

#hero div button:hover {
    background-color: rgb(95, 20, 133);
}

#hero div img {
    width: 470px;
}
#hero div {
    width: 50%;
}

#hero div div {
    display: flex;

}

#hero div div div{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
#hero div div i {
    font-size: 36px;
    cursor: pointer;
    transition: all 200ms;
    color: black;
}

#hero div div i:hover {
    color: darkorchid;
}